/*
 * General/Utility Styles
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #303030;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #EDEDED;
}

a {
  font-weight: bold;
  color: #FF595F;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/*
 * Button styles
*/

.button {
  background: #FF595F;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
}

.button:hover {
  background: #E71B1D;
}

/*
 * Heading 
*/

h1 {
  font-size: 22px;
  color: #EDEDED;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: #BFBFBF;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #EDEDED;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  color: #EDEDED;
}

/*
 * Header and .hero Styles
*/

header {
  background: #252525;
  padding: 10px;
}

header .logo {
  border-right: 1px solid #404040;
}

.hero img {
  width: 100%;
}

/*
 * Info
*/

.info {
  background: #252525;
  text-align: center;
  padding: 20px;
}

.info h1 {
  margin-bottom: 10px;
}

.info .profile {
  margin-bottom: 24px;
}

.info .owner-details img {
  border-radius: 50%;
  margin-bottom: 6px;
}

.info h2.relationship,
.info h2.name {
  color: #BFBFBF;
  margin-bottom: 3px;
}

.info h2.name {
  font-weight: bold;
}

.info p.location {
  margin-bottom: 20px;
}

.info .icon {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.info .icon img {
  height: 30px;
  margin-bottom: 3px;
}

.info .booking h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 3px;
}

.info h2.price time {
  font-size: 16px;
}

/*
 * Details styles
*/

.details {
  padding: 20px;
}

.details h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin: 10px 0 15px 0;
  color: #EDEDED;
}

.details h4 {
  margin-bottom: 10px;
}

.details li {
  margin-bottom: 5px;
}

.details section {
  border-bottom: 1px solid #404040;
  padding: 20px 0 25px 0;
}

.details .about {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

.details .about p {
  margin-bottom: 15px;
}

.details .about a.contact {
  display: block;
  margin: 15px 0;
}

.details .photos {
  text-align: center;
  margin-top: 20px;
}

.details .photos img {
  width: 200px;
  margin: 10px;
}

/*
 * Container and layout
*/

.container {
  width: 95%;
  margin: 0 auto;
}

.column {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Responsive Styles
*/

@media only screen and (min-width: 1060px) {
  .container {
    width: 1040px;
  }

  .column {
    float: left;
  }

  .button {
    width: 275px;
    margin: auto;
  }

  .info .profile {
    width: 660px;
  }

  .info .booking {
    width: 380px;
  }

  .info .owner-details {
    width: 20%;
  }

  .info .pet-details {
    width: 80%;
    text-align: left;
  }

  .info .pet-details .icon {
    width: inherit;
    margin-right: 50px;
  }

  .info .pet-details .icon img {
    display: block;
    margin: 3px auto;
  }

  .details .main {
    width: 690px;
  }

  .details h4 {
    width: 46px;
  }

  .details .care .column,
  .details .games .column {
    margin-right: 5.9rem;
  }

  .details .games li img {
    padding-right: 0.5rem;
  }

  .details .photos img {
    display: inline;
    width: 200px;
    margin: 0 0.85rem;
  }
}
